
.Img{
    height: 400px;
    width: 300px;
    margin: 30px;

}
.smallImg{
    height: 200px;
    width: 150px;
    
}
.flex{
    display: flex;
    align-items: flex-start;
    font-size: 35px;
    
}

.btn {
    height: 80px;
    width: 200px;
    margin-left: 80px;
    font-size: 25px;
}


#charachtersDiv {
    padding-bottom: 250px;
    
}

